<div class="p-grid p-col-12 footer-container">
    <div class="footer-content p-col-12 p-grid">
        <div class="p-md-4 footer-left-part p-m-0">
            <div class="footer-logo">
                <img src="./assets/img/fpt_ondemand_logo.png" >
            </div>
        </div>
        <div class="p-grid p-col-12 p-md-8 footer-right-part">
            <div class="p-col-12 p-md-9 left-part">
                <ul class="footer-elements">
                    <li>{{'privacy&Policy' | translate}}</li>
                    <li >{{'terms&Conditions' | translate}}</li>
                    <li >{{'contactUs' | translate}}</li>
                    <li class="p-pr-5">{{'help' | translate}}</li>
                </ul>
            </div>
            <div class="p-col-12 p-md-3 footer-button p-p-0 right-part">
                <button (click)="scrollToTop()" class="btn"> {{'goBack' | translate}}<i class="pi pi-angle-up p-ml-1"> </i></button>
            </div>
        </div>
    </div>
    <div class="footer-branding p-col-12">
        <p >{{'footerBelowHeadingPara.first' | translate}} <span>{{'footerBelowHeadingPara.second' | translate}}</span>{{'footerBelowHeadingPara.third' | translate}}</p>
    </div>
</div>