<div class="main-schedule-container">
   <div class="main-content p-grid p-col-12">
      <div class="img-heading-content p-col-12 p-md-9 p-sm-12">
         <img src="/assets/img/Calender (1).png" class="img-container">
         <app-heading text="{{'scheduleHeading' | translate}}" [headingType]="'h3'"
            class="heading-content">
         </app-heading>
      </div>
      <div class="btn-content p-col-12 p-md-3 p-sm-12 p-p-0">
         <app-button name="{{'showSchedule' | translate}}" [cls]="'schedule-btn'">
            <i class="pi pi-angle-right p-ml-1 p-mt-1"> </i>
         </app-button>
      </div>
   </div>
</div>