@import "src/styles.scss";

input {
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid $black;
    padding: 1rem;
    margin-top: 1.5rem;
}

::placeholder {
    color: $black;
    font-size: 1rem;
}

.search-input {
    margin: 0;
}

.default-input {
    width: 100%;
}

.p-error {
    display: flex;
}

.input-icon {
    color: $red !important;
}
.input-class{
    margin-top: 0;
}
.exclamation-icon-class{
    margin-top: 0.1875rem;
}

.invalid-input {
    border-color: $red;

    &::placeholder {
        color: $red;
    }
}