<section class="branding-container">
    <div class="branding-content p-grid p-col-12">
        <div class="branding-left-part p-col-12 p-md-7 p-sm-12">
            <div class="branding-logo p-mr-3">
                <img src="./assets/img/sitting_person_chair.png" alt="">
            </div>
            <div class="branding-text">
                <p>{{'brandTxt.first' | translate}}<br><span> {{'brandTxt.second' | translate}} </span></p>
            </div>
        </div>
        <div class="branding-right-part p-col-12 p-md-5 p-p-3 p-sm-12">
            <div class="branding-app-store-imgs ">
                <img src="./assets/img/Appstore.png" alt="app-store-btn">
                <img class="p-ml-4" src="./assets/img/playStore.png" alt="play-store-btn">
            </div>
        </div>
    </div>
</section>