
@import "src/styles.scss";

.branding-content{
    position: relative;
    min-height: 8.625rem;
    background-image: url('/assets/img/blue_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 0.5rem;
}
.contact-container{
    padding: 2.5rem 5rem 2.5rem 5rem;
}

.contact-left-part{
    display: flex;
    justify-content: center;
    padding-top: 3.6875rem;
    padding-bottom: 3.6875rem;
}
.contact-right-part{
    width: 100%;
    padding-top: 0.625rem;
}

.contact-text{
    color: $white;
    font-weight: 600;
    font-size: 1.5rem;
    span{
        font-weight: 500;
        font-size: 1rem;
    }
}

@media screen and (max-width: $tablet-max) {
    .branding-content{
        justify-content: center;
    }
    .contact-container{
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
    .contact-left-part{
        padding-top: 2.5rem;
        padding-bottom: 0;
    }
    .contact-text{
        text-align: center;
    }
    .contact-right-part{
        padding-top: 0;
        padding-bottom: 1.25rem;
    }
}
@media screen and (max-width: $small-mobile-max) {
    .contact-text{
        font-size: 1.25rem;
    }
    .contact-right-part{
        padding: 0.625rem;
    }
}