@import "src/styles.scss";

span{
    margin-top: $field-margin-top;
    font-size: 1rem;
    color: $black;
}
.gray-text{
    color: $gray;
}
.gray-sub-text{
    font-size: 0.875rem;
    font-weight: 500;
    color: $gray;
    margin-right: 0.375rem;
}
.gray-small-text{
    color: $gray;
    font-weight: 500;
    font-size: 0.75rem;
}

